:root{
     --sm:16px;
}
/* // Small devices (landscape phones, 576px and up) */
/* @media (max-width: 375.98px){
     .navbar-toggler {
          margin-left: 295px;
          border: none;
          position: relative;
          bottom: 48px;
      }
      .skill-main{
          display: none;
      }
} */
@media (max-width: 575.98px) { 
     .navbar-toggler {
          margin-left: 162px;
          border: none;
      }
     #navbarNav .navbar-nav{
          position: relative;
          left: 100%;
          padding-top: 25px;
     }
     #navbarNav .navbar-nav li{
          padding-top: 25px;
     }
     .skill-main{
          /* display: none; */
     }
     .skill-nav .skill-btn{
          display: inline-block;
          font-size: 16px;
          font-weight: 300;
          color: var(--color-text);
          width: 250px;
          text-align: center;
          padding: 10px 0;
          border-radius: 15px;
      }
      .skill-nav a span{
          display: inline-block;
          width: 10px;
          height: 1px;
          background-color: var(--color-text);
          margin: 0 0px 7px 0px;
          display: none;
      }
      .skill-nav a strong{
          display: none;
      }
     .content{
          display: flex;
          /* align-items: center;
          justify-content: space-between; */
          flex-wrap: wrap;
          flex-direction: column;
      }
      .content-1{
          width: 100%;
      }
      .content-2{
          width: 100%;
      }
      .content-skill-item .content-skill-item-logo {
          width: 8%;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px 0;
      }
      .content-skill-item .content-skill-item-logo img {
          width: 18px;
      }
      .content-skill-item .content-skill-item-titel h3 {
          font-size: 20px;
          margin-left: 5px;
      }
      .content-skill-item .content-skill-item-result span {
          font-size: 16px;
      }
      .right-content {
          left: 49.1%;
      }
     .banner-text {
          font-size: var(--sm);
     }
     #about .detailes .btn-2{
          position: relative;
          left: 50%;
          transform: translateX(-50%);
     }
     .portfolio-btn button {
          margin: 0;
          font-size: 15px;
          padding: 10px 5px;
          border-radius: 10px;
      }
      .portfolio-btn button {
          margin-top: 10px;
      }
      .blog-item p {
          font-size: 9px;
          font-weight: bold;
      }
      .blog-item h3 {
          font-size: 13px;
          margin-top: -9px;
      }
      #contact .contact-titel h2::after {
          width: 388px;
          bottom: -30%;
      }
      .get-in-touch input {
          width: 80%;
      }
      .get-in-touch textarea {
          width: 80%;
      }
}

/* // Medium devices (tablets, 768px and up) */
/* @media (max-width: 767.98px) {
     .navbar-toggler {
          border: none;
          margin-left: 150px;
      }
      #navbarNav .navbar-nav {
          position: relative;
          left: 206%;
          padding-top: 25px;
      }
     #navbarNav .navbar-nav li{
          padding-top: 25px;
     }
     .skill-nav .skill-btn{
          display: inline-block;
          font-size: 16px;
          font-weight: 300;
          color: var(--color-text);
          width: 250px;
          text-align: center;
          padding: 10px 0;
          border-radius: 15px;
      }
      .skill-nav a span{
          display: inline-block;
          width: 10px;
          height: 1px;
          background-color: var(--color-text);
          margin: 0 0px 7px 0px;
          display: none;
      }
      .skill-nav a strong{
          display: none;
      }
      .content{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
      }
      .content-1{
          width: 100%;
      }
      .content-2{
          width: 100%;
      }
      .blog-item p {
          font-size: 15px;
          font-weight: bold;
      }
      .blog-item h3 {
          font-size: 17px;
          margin-top: -9px;
      }
      #contact .contact-titel h2::after {
          width: 389px;
          width: 375px;
          bottom: -30%;
      }
      .get-in-touch input {
          width: 90%;
      }
      .get-in-touch textarea {
          width: 90%;
      }
} */

/* // Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px){}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1399.98px) {}
